env:
  AZURE_WEB_APP: ${{ github.event.client_payload.webapp_name }}
  DOCKER_IMAGE_NAME: ${{ github.event.client_payload.docker_image_name }}
jobs:
  deploy-web-app:
    env:
      AZURE_ACR_ADMIN_ENABLED: true
      AZURE_ACR_NAME_PREFIX: almacr
      AZURE_DEPLOY_ENVIRONMENT: ${{ github.event.client_payload.environment }}
      AZURE_RESOURCE_GROUP: ${{ github.event.client_payload.resource_group }}
      AZURE_SUBSCRIPTION: ${{ github.event.client_payload.subscription }}
      AZURE_WEB_APP_NAME_PREFIX: alm-app
      AZURE_WEB_APP_TYPE: ${{ github.event.client_payload.app_type }}
      GITHUB_REPO_NAME: ${{ github.event.client_payload.repo }}
    runs-on: ubuntu-latest
    steps:
    - name: Set env
      run: echo "AZURE_WEB_APP_NAME_PREFIX=${AZURE_WEB_APP_NAME_PREFIX}-${AZURE_WEB_APP_TYPE}"
        >> $GITHUB_ENV echo "AZURE_WEB_APP_NAME=${AZURE_WEB_APP_NAME_PREFIX}-${GITHUB_REPO_NAME}-${AZURE_DEPLOY_ENVIRONMENT}"
        >> $GITHUB_ENV echo "AZURE_ACR_NAME=${AZURE_ACR_NAME_PREFIX}-${AZURE_DEPLOY_ENVIRONMENT}"
        >> $GITHUB_ENV echo "AZURE_WEB_APP_IMAGE_NAME=${GITHUB_REPO_NAME}-${AZURE_DEPLOY_ENVIRONMENT}"
        >> $GITHUB_ENV
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - id: time
      name: Get Timestamp
      run: "echo \"AZURE_WEB_APP_IMAGE_TAG=$(date '+%Y-%m-%d-%H-%M-%S')\" >> $GITHUB_ENV\n\
        \    \n"
    - name: Build Docker Image
      run: 'docker build .github/docker --file Dockerfile --tag "$AZURE_ACR_NAME.azurecr.io/$AZURE_WEB_APP_IMAGE_NAME:$AZURE_WEB_APP_IMAGE_TAG"

        '
    - name: Tag Docker Image
      run: 'docker tag $AZURE_ACR_NAME.azurecr.io/$AZURE_WEB_APP_IMAGE_NAME:$AZURE_WEB_APP_IMAGE_TAG
        $AZURE_ACR_NAME.azurecr.io/$AZURE_WEB_APP_IMAGE_NAME:latest

        '
    - name: Push Docker Images
      run: 'docker push "$AZURE_ACR_NAME.azurecr.io/$AZURE_WEB_APP_IMAGE_NAME:$AZURE_WEB_APP_IMAGE_TAG"

        docker push "$AZURE_ACR_NAME.azurecr.io/$AZURE_WEB_APP_IMAGE_NAME:latest"

        '
    - name: Login to ACR
      run: 'az acr login --name $AZURE_ACR_NAME

        '
    - name: Deploy New Image in Azure Web App
      run: 'az webapp config container set --name $AZURE_WEB_APP_NAME \

        --resource-group $AZURE_RESOURCE_GROUP \

        --docker-custom-image-name "DOCKER|$AZURE_ACR_NAME/$AZURE_WEB_APP_IMAGE_NAME:latest"'
name: Deploy Azure Web App
'on':
  repository_dispatch:
    types: app_service_deploy
